/* ------------------------------------------------------ MAIN STYLES ---------------------------------------------------------------------------*/

/* Prevent adjustments of font size after orientation change in IE on Windows phone and in IOS */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

/* Apply a natural box model layout to all elements */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', Arial, sans-serif;
  background-color: #eee;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

img {
  width: 50%;
  height: auto;
}

/* ----------------------------------------- HEADER STYLES ---------------------------------------------------------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  background-color: #262626;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  color: #fff;
  background-color: #2196f3;
  text-decoration: none;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* ------------------------------------- END OF HEADER STYLES ------------------------------------------------------*/

/* ----------------------------------------- MAIN STYLES ---------------------------------------------------------*/
section#bacartegia {
  position: relative;
  background-image: url('../img/business-computer.jpg');
  background-size: cover;
  height: 100vh;
}

section#bacartegia .content {
  position: absolute;
  padding: 2rem;
  top: 40%;
  left: 20%;
  right: 20%;
  color: #f4f6f7;
  border: 1px solid #eee;
  background-color: rgba(66, 73, 73, 0.8);
  animation-name: content;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section#bacartegia h1 {
  font-size: 4rem;
}

section#company {
  width: 100%;
  padding: 4rem;
  background-color: #827d90;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);
  grid-gap: 2rem;
}

section#company .services {
  width: 100%;
  height: auto;
  background-color: rgba(236, 240, 241, 0.5);
  box-shadow: 1rem 1rem 2rem #1b2631;
  padding: 2rem;
}

section#slide {
  margin: 0;
  padding: 4rem;
  background-color: #b2babb;
}

section#slide p {
  position: relative;
  animation-name: slide-content;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slide-content {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

section#slide video {
  position: relative;
  width: 50%;
  height: auto;
  border: 2px solid black;
  margin-left: 10rem;
  animation-name: slide-video;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes slide-video {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ------------------------------------- END OF MAIN STYLES ------------------------------------------------------*/

/* ABOUT SECTION STYLES */

section#about-us {
  padding: 6rem 3rem 0 3rem;
  margin-bottom: 3rem;
}

section#about-us .about-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 3rem;
}

/* END OF ABOUT SECTION STYLES */

/* ------------------------------------PRICING PAGE SECTION STYLES -----------------------------------------------*/

.pricing {
  height: 100%;
  margin-top: 40px;
  padding: 3rem;
  background-color: rgba(66, 73, 73, 0.5);
}

.images-container img:hover {
  opacity: 0.2;
}

#final-price {
  width: 100%;
  margin: 20px;
  padding: 20px;
  background-color: cornflowerblue;
  font-size: 1em;
}

/* ------------------------------------ END OF PRICING PAGE SECTION STYLES ---------------------------------------*/

/* ------------------------------------ MEETING ROOMS SECTION STYLES --------------------------------------------*/

#meeting-rooms {
  margin-top: 40px;
  padding: 40px;
  background-color: rgba(66, 73, 73, 0.8);
  color: #eee;
}

#rooms {
  padding: 0 3rem 0 5rem;
}

#meeting-rooms img {
  width: 50%;
  height: auto;
  border: 1px solid black;
}

#offices ul li {
  display: inline;
  list-style: none;
}

#offices button {
  background-color: #1a5276;
  color: #fff;
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5rem;
}

#offices button:hover {
  background-color: #922b21;
}

/* ------------------------------------- END OF MEETING ROOMS SECTION STYLES -------------------------------------*/

/* -------------------------------------CONTACT SECTION ----------------------------------------------------------- */

/* ------------------------------------- END OF CONTACT SECTION ----------------------------------------------------- */

/* ----------------------------------------- FOOTER STYLES -------------------------------------------------------*/

footer .social-media a {
  text-decoration: none;
}

/* ------------------------------------- END OF FOOTER STYLES ------------------------------------------------------*/

/* ----------------------------------------- MEDIA QUERY STYLES ---------------------------------------------------------*/

@media (max-width: 360px) {
  section#bacartegia .content {
    position: absolute;
    top: 30%;
    left: 10%;
  }

  section#bacartegia .content h1 {
    font-size: 1rem;
  }

  section#bacartegia .content p {
    font-size: 10px;
  }

  section#slide video {
    width: 10rem;
    height: auto;
    border: 2px solid black;
    margin-left: 2rem;
  }

  .images-container img {
    width: 250px;
  }

  #map iframe {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 500px) {
  section#bacartegia .content {
    position: absolute;
    top: 15%;
    left: 20%;
  }

  section#bacartegia .content h1 {
    font-size: 3rem;
  }

  section#bacartegia .content p {
    font-size: 0.8rem;
  }

  section#about-us img {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 749px) {
  .contact {
    background-color: #333;
    color: #eee;
  }

  #inputform {
    margin: 0 auto;
    padding: 2rem;
  }

  .contact form {
    display: block;

    padding: 1rem;
  }

  .contact form input,
  .contact form textarea {
    width: 80%;
    margin-left: 0.5rem;
  }

  .contact form button {
    padding: 0.5rem;
    margin-left: 6rem;
    border-radius: 5rem;
  }

  #map iframe {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 830px) {
  #offices ul li {
    display: block;
  }
}

@media (max-width: 900px) {
  section#bacartegia .content {
    width: 50%;
  }

  section#bacartegia .content h1 {
    font-size: 1.5rem;
  }

  section#bacartegia .content p {
    font-size: 1rem;
  }

  section#company {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;
  }

  section#company .services {
    padding: 1rem;
  }

  section#about-us .about-grid {
    display: block;
  }

  section#about-us .about-grid .about {
    margin-bottom: 4rem;
  }

  section#about-us img {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 750px) {
  .contact {
    padding: 5rem;
    background-color: #333;
    color: #eee;
  }

  .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .contact form label {
    display: block;
  }

  .contact form p {
    margin: 0;
  }

  .contact form .full {
    grid-column: 1 / 3;
  }

  .contact form button,
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
  }

  .contact form button {
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
  }

  .contact form button:hover,
  .contact form button:focus {
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
  }

  #map iframe {
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 999px) {
  .images-container {
    display: block;
  }

  .images-container img {
    width: 50%;
    border: 1px solid black;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  footer {
    display: block;
    padding: 1rem;
    background-color: #17202a;
    color: #eee;
  }

  footer .footer-list {
    display: block;
    margin-left: 2rem;
    padding: 1.5rem;
  }

  footer .footer-list {
    display: block;
    padding: 1.5rem;
  }

  footer .footer-list ul {
    list-style: none;
  }

  footer .social-media {
    margin-left: 2rem;
    padding: 3rem;
  }

  footer .social-media i {
    margin-left: 0.5rem;
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #17202a;
    color: #eee;
  }

  footer h5,
  footer i {
    text-align: center;
  }

  footer .footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1.5rem;
  }

  footer .footer-list ul {
    list-style: none;
  }

  footer .footer-list a {
    text-decoration: none;
  }

  footer .social-media {
    margin-left: 4rem;
    padding: 3rem;
  }

  footer .social-media p {
    text-align: left;
    margin-left: 4rem;
    font-size: 1rem;
  }

  footer .social-media i {
    text-align: center;
    margin-left: 4rem;
    font-size: 3rem;
  }
}

@media (max-width: 1049px) {
  .images-container {
    display: block;
  }

  .images-container img {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    margin-right: 2rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}

@media (min-width: 1050px) {
  .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .images-container img {
    width: 350px;
    height: 350px;
    border: 1px solid #000;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}

@media (min-width: 1600px) {
  .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 4rem;
  }

  .images-container img {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}

/* ------------------------------------- END OF MEDIA QUERY STYLES ------------------------------------------------------*/
